{% extends 'catalog/base.html' %}
{% block content %}
<head>
    <title>Таблица</title>
</head>
<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        border: 1px solid black;
        padding: 8px;
        text-align: left;
    }

    th {
        background-color: lightgray;
    }
</style>

<body>

<table>
    <thead>
    <tr>
        <th>Доступные команды</th>
        <th>Название сообщения</th>
        <th>Текст сообщения</th>
    </tr>
    </thead>
    {% for object in object_list %}
    <tbody>
    <tr>
        <td>
            <div class="btn-group" role="group">
                <!-- Проверка прав доступа на редактирование -->
                {% if perms.mailing.change_email %}
                    <a href="{% url 'mailing:message_update' object.pk %}" type="button" class="btn btn-secondary">Редактировать</a>
                {% endif %}
                <!-- Проверка прав доступа на удаление -->
                {% if perms.mailing.delete_email %}
                    <a href="{% url 'mailing:message_delete' object.pk %}" type="button" class="btn btn-danger">Удалить</a>
                {% endif %}
                <a href="{% url 'mailing:message_detail' object.pk %}" type="button" class="btn btn-primary">Посмотреть</a>
            </div>
        </td>
        <td>{{ object.title }}</td>
        <td>{{ object.text|slice:':50' }}...</td>
    </tr>
    </tbody>
    {% endfor %}
</table>

</body>
{% endblock %}