{% load static %}
{% load my_tags %}

<link rel="stylesheet" type="text/css" href="{% static 'css/card.fix.css' %}">
    <div class="container col-5 text-center">
        <div class="card mb-3 rounded-3 shadow-sm">
            <div class="card-header py-3">
                <h4 class="my-0 fw-normal">{{ object.name }}</h4>
            </div>
            <div class="card-body">
                <img src="{{ object.preview | my_media }}" width="200" height="100" class="img-fluid"/>
                <ul class="list-unstyled mt-3 mb-4">
                    <li>{{ object.description }}</li>
                </ul>
                <a type="button" class="w-100 btn btn-lg btn-primary mt-3 mb-4">Купить за {{ object.price}} руб.</a>
            </div>
            <footer>
                <div class="card-footer">
                    <div class="product-buttons">
                        <a href="{% url 'catalog:product_view' object.pk %}" class="btn btn-success">Посмотреть</a>
                        <a href="{% url 'catalog:product_edit' object.pk %}" class="btn btn-success">Редактировать</a>
                        <a href="{% url 'catalog:product_delete' object.pk %}" class="btn btn-success">Удалить</a>
                    </div>
                </div>
            </footer>
        </div>
    </div>