{% load static %}
{% load my_tags %}
<style>
    .product-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    .product-card {
      width: 100%;
      border: 1px solid #ccc;
      border-radius: 5px;
      padding: 10px;
      margin-bottom: 20px;
    }

    .product-image {
      width: 100%;
      max-height: 300px;
      object-fit: cover;
      border-radius: 15px;
    }

    .product-name {
      font-size: 24px;
      font-weight: bold;
      margin-top: 16px;
    }

    .product-price {
      font-size: 24px;
    }

    .product-buttons {
      margin-top: 10px;
    }

    .product-buttons a {
      display: inline-block;
      padding: 5px 10px;
      background-color: #3498db;
      color: #fff;
      text-decoration: none;
      border-radius: 5px;
      margin-right: 5px;
    }

    .buy-button {
      background-color: #2ecc71;
    }

    .view-button {
      background-color: #f39c12;
    }

    .edit-button {
      background-color: #e67e22;
    }

    .delete-button {
      background-color: #c0392b;
    }
</style>

<div class="product-container col-6">
    <div class="product-card">
        <img src="{{ object.preview | my_media }}" alt="{{ object.title }}" class="product-image">
        <h3 class="product-title">{{ object.name }}</h3>
        <p class="product-body">{{ object.description|slice:':50' }}...</p>
        <p class="product-body">
            Номер версии: {% if object.is_active %}
            {{ object.version }}
            {% else %}
            нет информации
            {% endif %}
        </p>
        <p class="product-body">
            Название версии: {% if object.is_active %}
            {{ object.name_version }}
            {% else %}
            нет информации
            {% endif %}
        </p>
        <p>Владелец: {{ object.user.email }}</p>
        <footer>
            <div class="card-footer">
                <div class="product-buttons">
                    <a type="button" class="buy-button">Купить за {{ object.price}} руб.</a>
                    <a href="{% url 'catalog:product_view' object.pk %}" class="view-button">Посмотреть</a>
                    {% if object.user == user or perms.catalog.change_product or user.is_superuser %}
                    <a href="{% url 'catalog:product_edit' object.pk %}" class="edit-button">Редактировать</a>
                    {% endif %}
                    {% if perms.catalog.delete_product or perms.is_superuser %}
                    <a href="{% url 'catalog:product_delete' object.pk %}" class="delete-button">Удалить</a>
                    {% endif %}
                </div>
            </div>
        </footer>
    </div>
</div>