{% extends 'catalog/base.html' %}
{% load static %}
{% load my_tags %}
{% block content %}
<head>
    <title>Страница товара</title>
    <!-- Подключение стилей Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-5">
            <!-- Фотография товара -->
            <img src="{{ object.preview | my_media }}" alt="Фотография товара" class="img-fluid">
        </div>
        <div class="col-md-7">
            <!-- Описание товара -->
            <h4>{{ object.name }}</h4>
            <p>{{ object.description }}</p>
            <p>Версия товара:
                {% if is_active %}
                {{ version }}
                {% else %}
                нет информации
                {% endif %}</p>
            <p>Название версии: {% if is_active %}
                {{ name_version }}
                {% else %}
                нет информации
                {% endif %}</p>
            <p>Владелец товара: {{ object.user.email }}</p>

            <!-- Кнопки "Удалить", "Редактировать", "Купить" -->
            {% if perms.catalog.change_product or perms.is_superuser or user == object.user %}
            <a href="{% url 'catalog:product_delete' object.pk %}" type="button" class="btn btn-danger">Удалить</a>
            {% endif %}
            {% if perms.catalog.change_product %}
            <a href="{% url 'catalog:product_edit' object.pk %}" type="button" class="btn btn-primary">Редактировать</a>
            {% endif %}
            <button type="button" class="btn btn-success">Купить</button>
        </div>
    </div>
</div>

<!-- Подключение скриптов Bootstrap -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{% endblock %}